body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: rgb(85, 129, 134);
    color:  rgb(6, 3, 32);
  }
  footer {
    color:  rgb(6, 3, 32);
    border: 2px green;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
h1 {
    font-family: garamond;
    color: rgb(5, 2, 29);
    text-align: center;
}


h2 {
    font-family: garamond;
    color: rgb(5, 2, 29);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color:  rgb(5, 2, 29);
}
p { 
    color: rgb(6, 3, 32);
}
nav {        
    background-color: skyblue;
    border: 2px rgb(1, 5, 58);
    padding: 8px;
    margin: -1px 0px 0px 0px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-block-end: 1px;
}


nav li {
    display: inline;
    padding: 8px;    
}
img#omniscience {
    height: 25%;
    width: 25%;
}

