body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: grey
  }

h1 {
    color: black
    
}

h2 {
    color: black
}

p { 
      color: black
  }
  img#powernine {
    float: right;
}
img#protour {
    float: center;
}
img#me {
    height: 25%;
    width: 25%;
}
img#jtms {
    height: 175px;
    width: 175px;
}