                    
aside {
    border-radius: 8px;
    border: 1px aquamarine;
    font-size: 120%;
    font-style: italic;

    float: right;
    background-color: powderblue;
    width: 33%;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: rgb(85, 129, 134);
    color:  rgb(6, 3, 32);
}
footer {
    color:  rgb(6, 3, 32);
    border: 2px green;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}
h1 {
    font-family: garamond;
    color: rgb(5, 2, 29);
}
h2 {
    color:  rgb(7, 0, 7);
    font-family: garamond;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
    border-color:  rgb(5, 2, 29);
}
p { 
      color: rgb(6, 3, 32);
  }
img#powernine {
    float: right;
}
img#protour {
    float: center;
}
img#me {
    height: 25%;
    width: 25%;
}
img#jtms {
    height: 250px;
    width: 250px;
}
img#kibler {
    height:300px;
    width: 450px;
}
img#finkel {
    height: 75%;
    width: 75%;
}
nav {        
    background-color: skyblue;
    border: 2px green;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-block-end: 1px;
}

nav li {
    display: inline;
    padding: 8px;    
}
     