body {
    font-size: 133%;
    font-family: sans-serif;
    background-color: rgb(85, 129, 134);
    color:  rgb(7, 0, 7);
  }

  h1 {
    font-family: garamond;
    color: rgb(7, 0, 7);
}


h2 {
    color:  rgb(7, 0, 7);
    font-family: garamond;
}

p { 
      color:  rgb(7, 0, 7);
  }
img#powernine {
    float: right;
}
img#protour {
    float: center;
}
img#me {
    height: 25%;
    width: 25%;
}
img#jtms {
    height: 175px;
    width: 175px;
}
nav {        
    background-color: skyblue;
    border: 2px green;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}